<html>
	<head>
		<title>Twitter Clone</title>
	</head>
	<body>
	<h1><a href="/">Twitter</a></h1>
       <form method=post action="/logout">
         <input type=submit value="Log out">
       </form>       

		<%= yield %>
	</body>
</html>